/* core styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* navbar sevtion  ****************************************************/
nav {
  padding: 0 165px;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.navbar-menus a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  text-transform: capitalize;
  color: #181818;
}

.navbar-button1 {
  margin-right: 20px;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 14px;
  color: #151515;
}

.navbar-button2 {
  padding: 5px 23px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  border: none;
  background: #656293;
  border-radius: 5px;
}

/* home page  *****************************************/
.home {
  padding: 160px 165px;
  width: 100%;
  background-image: url("./Images/hom-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-info__title {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 66px;
  font-family: "Roboto", sans-serif;
  line-height: 77px;
  text-transform: capitalize;
  color: #151515;
}

.home-info__title > span {
  font-weight: 700;
  color: rgba(101, 98, 147, 1);
}

.home-info__button {
  margin-right: 15px;
  border: none;
  background: none;
  font-weight: 500;
  line-height: 24px;
  color: #151515;
}

.fa-arrow-right {
  font-size: 10px;
}

/* booking page  ***********************************************************/
.booking {
  margin: 0 auto;
  padding: 30px;
  width: 1110px;
  height: 266px;
  background: #ffffff;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;

  position: relative;
  top: -133px;
}

.booking-menus {
  display: flex;
}

.booking-menus p {
  margin-right: 35px;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #151515;
}

.fa-caret-down {
  margin-left: 8px;
}

.booking-boxes {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.from,
.to,
.duration {
  padding: 16px 20px;
  width: 280px;
  height: 117px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}

.fa-arrow-right-arrow-left {
  width: 28px;
  height: 28px;
  background: #ffffff;
  border: 0.5px solid #aaaaaa;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
}

.duration {
  width: 410px;
  display: flex;
  justify-content: space-between;
}

.booking-boxes__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(21, 21, 21, 0.6);
}

.booking-boxes__title {
  margin: 4px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #151515;
}

.departure > div,
.return > div {
  display: flex;
  justify-content: space-between;
}

.fa-calendar {
  margin-left: 28px;
}

.booking-button1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #151515;
  border: none;
  background: none;
}

.booking-button2 {
  padding: 20px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
  background: #656293;
  border-radius: 10px;
  border: none;
  position: relative;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.buttin-aarow {
  margin-left: 10px;
}

/* prevate jet page ********************************* */
.jet {
}
